body{
    background-color: #EEEEEE;
    font-family: Helvetica, Arial/* in case it does not work*/, sans-serif;
}

a { /* class specification */
    text-decoration: none; /* no link blue underlining */
    color: #006478;
}

h1, h2, h3 {
    margin:0;
}
h2{
    color: #802769;
}

#container{
    background-color: white;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

#header{
    background-color: #006478;
    color: white;
    text-align: center;
    padding: 5px 0px 1px 0px;
}

#language{
    text-align:right;
    padding: 0px 5px;
}

.btn {
    border: none;
    outline: none;
    padding: 0px;
    background-color: #006478;
    cursor: pointer;
    color: white;
    font-size: x-large;
}

.btn:hover {
    color: #802769;
}

.btn.active {
    text-decoration: underline;
}

.lang {
    display: none;
}
    
.show {
  display: block;
}

#header li{
    display: inline-block;
    list-style-type: none;
}
#header li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
}
#header li.active a{
    background-color: #802769;
}

#header li a:hover{ /* appearance when the mouse goes onto*/
    background-color: #802769;
    transition: all 0.3s ease-in;
}

/**********************************/

#content{
    padding: 5px; /* or top right bottom left */
}
#introduction-text li{
    list-style-position: inside;
}

#new{
    max-width: 180px;
    float: right;
}
#news li{
    list-style-position: inside;
}
#news h1 {
    text-align: center;
    color: #802769;
}
#twitter h1 {
    text-align: center;
    color: #802769;
}

#main{
    padding: 5px;
}
#main h1 {
    text-align: center;
    color: #006478;
}

#main-home{
    max-width: 790px;
    float: left;
    padding: 5px;
}

#cv{
    text-align: center;
    padding: 5px;
}
    

#profile-picture{
    float: left;
    padding: 0px 10px 0px 0px;
}
#itroduction-text{
    padding: 0px 10px 0px 10px;
}
#info{
    clear: both;
}

/**********************************/

#footer{
    clear: both; /* clear of any floating element */
    text-align: right;
}

