<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="shortcut icon" type="image/png" href="/render/logo-V.png">
    <link rel="stylesheet" type="text/css" href="/render/style.css">
  </head>
  <body>
    <div id="container">
      {% include header.html %}

      <div id="content">
        <div id="main">
          {{ content }}
        </div>

        {% include footer.html %}
      </div>

		</div>
	  <script src="/render/script.js"></script>
  </body>
</html>